In [1]:
import pandas as pd

In [2]:
all_mutation = pd.read_csv ("Mutcompute_5OCM.tsv", index_col=0)

In [7]:
all_mutation.head()

,pdb,chain_id,position,wtAA,prAA,wt_prob,pred_prob,avg_log_ratio,prALA,prARG,...,prLEU,prLYS,prMET,prPHE,prPRO,prSER,prTHR,prTRP,prTYR,prVAL
1422,5OCM.pdb,E,266,ALA,MET,0.000001,0.569073,18.603,0.000001,2.530000e-07,...,4.301022e-01,0.000004,0.569073,1.930000e-06,3.200000e-09,1.640000e-07,0.000001,2.620000e-07,2.590000e-07,0.000001
844,5OCM.pdb,C,266,ALA,MET,0.000007,0.533123,16.185,0.000007,5.160000e-07,...,4.651917e-01,0.000010,0.533123,4.300000e-06,1.120000e-08,8.130000e-07,0.000003,4.350000e-07,8.970000e-07,0.000003
1073,5OCM.pdb,D,206,ASN,CYS,0.000295,0.718529,11.249,0.170615,3.720000e-07,...,3.120000e-07,0.000003,0.000005,1.210000e-08,4.930000e-06,6.341705e-02,0.044455,7.000000e-09,1.020000e-08,0.002577
435,5OCM.pdb,B,146,GLU,ALA,0.000426,0.811986,10.896,0.811986,7.330000e-07,...,4.030000e-05,0.000006,0.000005,1.640000e-07,3.720000e-06,1.381107e-01,0.009271,9.490000e-08,2.760000e-07,0.003674
619,5OCM.pdb,C,41,GLN,ALA,0.000519,0.953211,10.842,0.953211,6.690560e-04,...,1.908260e-04,0.002846,0.000069,3.900000e-05,4.120000e-06,7.485790e-03,0.000120,4.250000e-06,3.560000e-05,0.000008

In [8]:
all_mutation.columns

Index(['pdb', 'chain_id', 'position', 'wtAA', 'prAA', 'wt_prob', 'pred_prob',
       'avg_log_ratio', 'prALA', 'prARG', 'prASN', 'prASP', 'prCYS', 'prGLN',
       'prGLU', 'prGLY', 'prHIS', 'prILE', 'prLEU', 'prLYS', 'prMET', 'prPHE',
       'prPRO', 'prSER', 'prTHR', 'prTRP', 'prTYR', 'prVAL'],
      dtype='object')

In [3]:
# Filter rows for each chain ID and create separate DataFrames
chain_A = all_mutation[all_mutation['chain_id'] == 'A']
chain_B = all_mutation[all_mutation['chain_id'] == 'B']
chain_C = all_mutation[all_mutation['chain_id'] == 'C']
chain_D = all_mutation[all_mutation['chain_id'] == 'D']
chain_E = all_mutation[all_mutation['chain_id'] == 'E']
chain_F = all_mutation[all_mutation['chain_id'] == 'F']

In [18]:
print (chain_A.shape,chain_B.shape,chain_C.shape,chain_D.shape,chain_E.shape,chain_F.shape)

(290, 28) (290, 28) (288, 28) (290, 28) (286, 28) (288, 28)

In [11]:
average_log_ratiosA = chain_A.groupby(['position','wtAA', 'prAA']).agg({'avg_log_ratio': 'sum'}).sort_values(by='avg_log_ratio', ascending=False)#.reset_index(drop=True)
average_log_ratiosA.head(20)

                    avg_log_ratio
position wtAA prAA
206      ASN  CYS           8.964
87       ARG  LYS           8.591
209      ILE  LEU           7.234
55       ASP  GLU           7.123
41       GLN  SER           6.454
142      TYR  PHE           5.065
170      ASP  MET           4.739
232      ASP  ALA           3.841
169      TYR  PHE           3.832
180      THR  ILE           3.452
125      VAL  THR           3.149
128      THR  SER           3.013
119      ILE  VAL           3.002
3        ASP  LYS           3.000
51       SER  ALA           2.844
178      TRP  PHE           2.747
18       LEU  ILE           2.640
236      ASP  GLU           2.571
210      GLU  LEU           2.550
197      GLU  LYS           2.544

In [8]:
average_log_ratiosF = chain_F.groupby(['position','wtAA', 'prAA']).agg({'avg_log_ratio': 'sum'}).sort_values(by='avg_log_ratio', ascending=False)#.reset_index(drop=True)
average_log_ratiosF

                    avg_log_ratio
position wtAA prAA
206      ASN  CYS          10.838
41       GLN  ALA           9.414
266      ALA  MET           7.905
36       GLU  PRO           6.665
3        ASP  HIS           4.992
...                           ...
123      PRO  PRO           0.000
124      GLN  GLN           0.000
126      VAL  VAL           0.000
127      GLY  GLY           0.000
147      PRO  PRO           0.000

[288 rows x 1 columns]

In [9]:
average_log_ratiosB = chain_B.groupby(['position','wtAA', 'prAA']).agg({'avg_log_ratio': 'sum'}).sort_values(by='avg_log_ratio', ascending=False)#.reset_index(drop=True)
average_log_ratiosB

                    avg_log_ratio
position wtAA prAA
146      GLU  ALA          10.896
41       GLN  ALA           8.898
209      ILE  LEU           8.370
206      ASN  CYS           7.563
105      GLU  ALA           6.318
...                           ...
17       ALA  ALA           0.000
126      VAL  VAL           0.000
127      GLY  GLY           0.000
128      THR  THR           0.000
158      TYR  TYR           0.000

[290 rows x 1 columns]

In [10]:
average_log_ratiosC = chain_C.groupby(['position','wtAA', 'prAA']).agg({'avg_log_ratio': 'sum'}).sort_values(by='avg_log_ratio', ascending=False)#.reset_index(drop=True)
average_log_ratiosC

                    avg_log_ratio
position wtAA prAA
266      ALA  MET          16.185
41       GLN  ALA          10.842
87       ARG  LYS           8.509
170      ASP  SER           7.035
116      ASP  GLN           6.850
...                           ...
110      ARG  ARG           0.000
111      GLY  GLY           0.000
112      ILE  ILE           0.000
113      THR  THR           0.000
289      PRO  PRO           0.000

[288 rows x 1 columns]

In [21]:
# Group by 'wtAA' and 'prAA' and calculate the average 'avg_log_ratio' across all chains
average_log_ratios = all_mutation.groupby(['position','wtAA', 'prAA']).agg({'avg_log_ratio': 'sum'}).reset_index()
average_log_ratios['avg_log_ratio'] /= 6

print(average_log_ratios)

     position wtAA prAA  avg_log_ratio
0           1  MET  LYS       0.462667
1           1  MET  SER       1.601667
2           2  ARG  ARG       0.000000
3           2  ARG  GLU       0.521333
4           2  ARG  MET       1.096833
..        ...  ...  ...            ...
425       288  SER  SER       0.000000
426       289  PRO  PRO       0.000000
427       290  SER  ALA       1.035167
428       290  SER  SER       0.000000
429       291  ALA  ALA       0.000000

[430 rows x 4 columns]

In [25]:
# Sort the DataFrame in descending order by 'avg_log_ratio'
average_log_ratios_sorted = average_log_ratios.sort_values(by='avg_log_ratio', ascending=False).reset_index(drop=True)
average_log_ratios_sorted.index = average_log_ratios_sorted.index + 1

print(average_log_ratios_sorted)

     position wtAA prAA  avg_log_ratio
1         266  ALA  MET       9.196167
2         206  ASN  CYS       7.898333
3          41  GLN  ALA       6.944167
4         209  ILE  LEU       6.641000
5         215  PHE  LEU       4.051833
..        ...  ...  ...            ...
426       144  ALA  ALA       0.000000
427       143  GLU  GLU       0.000000
428        38  LYS  LYS       0.000000
429       141  ALA  ALA       0.000000
430       291  ALA  ALA       0.000000

[430 rows x 4 columns]

In [26]:
average_log_ratios_sorted.to_csv('ranked_mutations.csv')